/**
 *
 * Setup your variables
 *
 */

/*=============================================
=            Colors                           =
=============================================*/
$primary-color: #1d5d9b !default;
$secondary-color: #f4d160 !default;
$error-color: #e82a1c !default;
$success-color: #388e3c !default;
$link-color: #0099de !default;
/*=====  End of Colors                  ======*/

/*=============================================
=            Fonts                            =
=============================================*/
$font-body: Arial, Helvetica, sans-serif !default;
$font-header: "Times New Roman", Times, serif !default;
$font-color: rgba(0, 0, 0, 0.9) !default;
/*=====  End of Fonts                 ======*/
